{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "COSMOS_DB_CONNECTION_STRING": "AccountEndpoint=https://<your-account-name>.documents.azure.com:443/;AccountKey=<your-account-key>;",
    "COSMOS_DB_ENDPOINT": "https://<your-account-name>.documents.azure.com:443/",
    "COSMOS_DB_KEY": "<your-account-key>",
    "COSMOS_DB_DATABASE_ID": "pilates-db",
    "COSMOS_DB_CONTAINER_ID": "exercises",
    "COSMOS_DB_PARTITION_KEY": "/id"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}
